# Pandas Library - For Tabular Data

Most Microsoft Excel functions can be performed with this library.

In [ ]:
#pip install pandas

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
#Importing the library pandas as pd so that it is easy to use it as prefix before the pandas functions
import pandas as pd

In [ ]:
#Reading a .csv file
#CSV - Comma Separated Values
df=pd.read_csv("https://raw.githubusercontent.com/Apress/data-analysis-and-visualization-using-python/master/Ch07/Salaries.csv")

In [ ]:
#Importing the data on the web in a csv file into a dataframe in Anaconda environment
df = pd.read_csv("https://raw.githubusercontent.com/Apress/data-analysis-and-visualization-using-python/master/Ch07/Salaries.csv")

In [ ]:
#Displaying the contents of a dataframe
df

         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
..        ...        ...  ...      ...     ...     ...
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

[78 rows x 6 columns]

In [ ]:
df.head()

   rank discipline  phd  service   sex  salary
0  Prof          B   56       49  Male  186960
1  Prof          A   12        6  Male   93000
2  Prof          A   23       20  Male  110515
3  Prof          A   40       31  Male  131205
4  Prof          B   20       18  Male  104800

In [ ]:
df[df.phd>20]

         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
8        Prof          A   29       19    Male   94350
9        Prof          A   51       51    Male   57800
10       Prof          B   39       33    Male  128250
11       Prof          B   23       23    Male  134778
13       Prof          B   35       33    Male  162200
14       Prof          B   25       19    Male  153750
19       Prof          A   29       27    Male  150500
21       Prof          A   33       30    Male  103106
24       Prof          A   30       23    Male   91100
25       Prof          B   35       31    Male   99418
26       Prof          A   38       19    Male  148750
27       Prof          A   45       43    Male  155865
29       Prof          B   21       20    Male  123683
31       Prof          B   22       21    Male  155750
32       Prof          A   27       19    Male  103275
35       Prof          B   28       23    Male  126933
36       Prof          B   45       45    Male  146856
40       Prof          A   39       36  Female  137000
44       Prof          B   23       19  Female  151768
45       Prof          B   25       25  Female  140096
54  AssocProf          A   25       22  Female   62884
58       Prof          B   36       26  Female  144651
63       Prof          A   29       27  Female   91000
64  AssocProf          A   26       24  Female   73300
65       Prof          A   36       19  Female  117555
69       Prof          A   28        7  Female  116450
72       Prof          B   24       15  Female  161101
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

In [ ]:
df{df.rank=='prof'>}

SyntaxError: ignored

In [ ]:
df[(df.discipline=='B')&(df.service>20)]

    rank discipline  phd  service     sex  salary
0   Prof          B   56       49    Male  186960
10  Prof          B   39       33    Male  128250
11  Prof          B   23       23    Male  134778
13  Prof          B   35       33    Male  162200
25  Prof          B   35       31    Male   99418
31  Prof          B   22       21    Male  155750
35  Prof          B   28       23    Male  126933
36  Prof          B   45       45    Male  146856
45  Prof          B   25       25  Female  140096
58  Prof          B   36       26  Female  144651

In [ ]:
df.iloc[1:4,0:3]#index location-from 2nd to 4th row,from first columns to 3rd columns

   rank discipline  phd
1  Prof          A   12
2  Prof          A   23
3  Prof          A   40

In [ ]:
df.iloc[1:10,0:3]

        rank discipline  phd
1       Prof          A   12
2       Prof          A   23
3       Prof          A   40
4       Prof          B   20
5       Prof          A   20
6  AssocProf          A   20
7       Prof          A   18
8       Prof          A   29
9       Prof          A   51

In [ ]:
df.iloc[65:71,1:5]

   discipline  phd  service     sex
65          A   36       19  Female
66          A    7        6  Female
67          A   17       11  Female
68          A    4        2  Female
69          A   28        7  Female
70          A    8        3  Female

In [ ]:
df.iloc[65:71,1:3]

   discipline  phd
65          A   36
66          A    7
67          A   17
68          A    4
69          A   28
70          A    8

In [ ]:
df.iloc[65:71,[1,4]]

   discipline     sex
65          A  Female
66          A  Female
67          A  Female
68          A  Female
69          A  Female
70          A  Female

In [ ]:
import os
os.getcwd()

'/content'

In [ ]:
os.chdir('D:\\ALL DATA SCIENCE\\ExcelR\\Datasets')
os.getcwd()

In [ ]:
mtcars=pd.read_csv('mtcars.csv')
mtcars

In [ ]:
os.chdir('C:\\Users\\USER\\ExcelR Content')
os.getcwd()

In [ ]:
mtcars=pd.read_csv('mtcars.csv')
mtcars

In [ ]:
#Import a CSV (Comma Separated Values) file in Python 
cars=pd.read_csv("C:\\Users\\Neha Excelr\\DataSets\\Cars.csv")
cars

     HP        MPG  VOL          SP         WT
0    49  53.700681   89  104.185353  28.762059
1    55  50.013401   92  105.461264  30.466833
2    55  50.013401   92  105.461264  30.193597
3    70  45.696322   92  113.461264  30.632114
4    53  50.504232   92  104.461264  29.889149
..  ...        ...  ...         ...        ...
76  322  36.900000   50  169.598513  16.132947
77  238  19.197888  115  150.576579  37.923113
78  263  34.000000   50  151.598513  15.769625
79  295  19.833733  119  167.944460  39.423099
80  236  12.101263  107  139.840817  34.948615

[81 rows x 5 columns]

In [ ]:
#'Head' displays the first 5 rows. Default setting in head function is to display 5 rows.
df.head()

   rank discipline  phd  service   sex  salary
0  Prof          B   56       49  Male  186960
1  Prof          A   12        6  Male   93000
2  Prof          A   23       20  Male  110515
3  Prof          A   40       31  Male  131205
4  Prof          B   20       18  Male  104800

In [ ]:
#'head(10)' displays the first 10 rows. 
# We can change this number, to display the required number of rows.  
df.head(12)

         rank discipline  phd  service   sex  salary
0        Prof          B   56       49  Male  186960
1        Prof          A   12        6  Male   93000
2        Prof          A   23       20  Male  110515
3        Prof          A   40       31  Male  131205
4        Prof          B   20       18  Male  104800
5        Prof          A   20       20  Male  122400
6   AssocProf          A   20       17  Male   81285
7        Prof          A   18       18  Male  126300
8        Prof          A   29       19  Male   94350
9        Prof          A   51       51  Male   57800
10       Prof          B   39       33  Male  128250
11       Prof          B   23       23  Male  134778

In [ ]:
#To display the last 5 rows of the data.
#Default setting in tail function is also to display 5 rows.
df.tail()

         rank discipline  phd  service     sex  salary
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

In [ ]:
#'tail(8)' displays the last 8 rows. 
df.tail(8)

         rank discipline  phd  service     sex  salary
70   AsstProf          A    8        3  Female   78500
71  AssocProf          B   12        9  Female   71065
72       Prof          B   24       15  Female  161101
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

In [ ]:
#To display the column names in a dataframe
df.columns

Index(['rank', 'discipline', 'phd', 'service', 'sex', 'salary'], dtype='object')

In [ ]:
#To create a list of the column names
col=list(df.columns)
col

['rank', 'discipline', 'phd', 'service', 'sex', 'salary']

In [ ]:
#To display the data types of columns in a dataframe
df.dtypes

rank          object
discipline    object
phd            int64
service        int64
sex           object
salary         int64
dtype: object

In [ ]:
#To generate summary statistics
df.describe()

             phd    service         salary
count  78.000000  78.000000      78.000000
mean   19.705128  15.051282  108023.782051
std    12.498425  12.139768   28293.661022
min     1.000000   0.000000   57800.000000
25%    10.250000   5.250000   88612.500000
50%    18.500000  14.500000  104671.000000
75%    27.750000  20.750000  126774.750000
max    56.000000  51.000000  186960.000000

In [ ]:
#To generate summary statistics of a specific column 
df['phd'].describe()

count    78.000000
mean     19.705128
std      12.498425
min       1.000000
25%      10.250000
50%      18.500000
75%      27.750000
max      56.000000
Name: phd, dtype: float64

In [ ]:
df['phd'].mean()

19.705128205128204

In [ ]:
df.mean()

phd            19.705128
service        15.051282
salary     108023.782051
dtype: float64

In [ ]:
df['phd'].max()

56

In [ ]:
df.quantile(0.25)

phd           10.25
service        5.25
salary     88612.50
Name: 0.25, dtype: float64

In [ ]:
df.median()

phd            18.5
service        14.5
salary     104671.0
dtype: float64

In [ ]:
df['sex'].value_counts()

Male      39
Female    39
Name: sex, dtype: int64

In [ ]:
df[['phd','service']].mean()

phd        19.705128
service    15.051282
dtype: float64

In [ ]:
#To get the basic summary statistics of numerical variables
df_summary=df.describe()
print("Type of the structure of df_summary is", type(df_summary))
df_summary

Type of the structure of df_summary is <class 'pandas.core.frame.DataFrame'>

             phd    service         salary
count  78.000000  78.000000      78.000000
mean   19.705128  15.051282  108023.782051
std    12.498425  12.139768   28293.661022
min     1.000000   0.000000   57800.000000
25%    10.250000   5.250000   88612.500000
50%    18.500000  14.500000  104671.000000
75%    27.750000  20.750000  126774.750000
max    56.000000  51.000000  186960.000000

In [ ]:
df_summary.to_csv('C:\\Users\\Neha Excelr\\DataSets\\df_summary.csv')

In [ ]:
df.mode()

   rank discipline  phd  service     sex   salary
0  Prof          B  4.0      3.0  Female  92000.0
1   NaN        NaN  NaN      NaN    Male      NaN

In [ ]:
#shape function will give the dimensions of the data (rows,columns)
df.shape

(78, 6)

In [ ]:
df_summary

In [ ]:
df_summary.iloc[[4,5,6],:]

In [ ]:
df_summary.iloc[[4,5,6],[0,2]]

In [ ]:
df_summary.iloc[:,[0,1]]

In [ ]:
df_summary.loc[['25%','50%','75%'],['phd','service']]

In [ ]:
df['phd'].quantile(0.50)

In [ ]:
df_summary.loc[['min','max','count'],['phd','service']]

In [ ]:
df.iloc[25:31,:]

In [ ]:
df.iloc[[1,5,9,4,7,8,3],:]

In [ ]:
df.iloc[25:31,1:4]

In [ ]:
#This will give the median by sorting the summary statistic values, saved in the dataframe, so this median will not be useful
#df_describe.median()    

#To get the true median, enter the code below.
print(df.median())

#Median is the same as 50%
print(df.quantile(0.5))

In [ ]:
#To get the maximum/highest value in numerical columns
df.max()

In [ ]:
#A,B,C,D.....X,Y,Z..a,b,c,....x,y,z
sorted_unique=[]
for i in df.columns:
    sorted_unique.append(list(df[i].unique()))

sorted_unique
for i in sorted_unique:
    i.sort(reverse=False)

sorted_unique

In [ ]:
#To find quartiles, deciles, percentiles
df.quantile(0.25)
#The lowest 25% values in phd will be EITHER LESSER THAN OR EQUAL TO 10.25
#The lowest 25% values in service will be EITHER LESSER THAN OR EQUAL TO 5.25
#The lowest 25% values in salary will be EITHER LESSER THAN OR EQUAL TO 88612.50

In [ ]:
df.quantile(0.30)

In [ ]:
df['service'].mean()

In [ ]:
round(df['service'].mean(),2)

In [ ]:
df[['rank','discipline','sex']].value_counts()

In [ ]:
#To get the frequency count of each unique value in the 'discipline' variable of 'df' dataframe
df['discipline'].value_counts()

In [ ]:
#To get the frequency count of each unique value in the 'rank' variable of 'df' dataframe
df['rank'].value_counts()

In [ ]:
#To get the standard deviation of all numerical variables in 'df' dataframe
df.std()

In [ ]:
#The code below will store the first 50 rows of the 'df' dataframe in a new dataframe 'df_50'
df_50=df.head(50)

In [ ]:
df_50

In [ ]:
#To get the average values of numerical variables in the 'df_50' dataframe
df_50.mean()

In [ ]:
df.head(50).mean()

In [ ]:
#Selecting the column 'salary'
df['salary']

In [ ]:
#Selecting multiple columns from a dataframe.
#For selecting multiple columns, the column names must be specified in a list (box bracket)
df[['salary','phd','service']]

In [ ]:
print(df['salary'].head())
print(df[['salary','phd','service']].head())

In [ ]:
df[['salary','service']].min()

Calculate the basic statistics for the Phd column;

Find how many values in the Phd column (use count method);

Calculate the average Phd;

In [ ]:
#To generate summary statistics of the 'PhD' column
df['phd'].describe()

In [ ]:
#To get the count of non-missing values in the 'PhD' variable
df['phd'].count()

In [ ]:
#To get the mean of values in the 'PhD' variable
df['phd'].mean()

In [ ]:
df

In [ ]:
a=[1,2,3,4,5]
b=[0,2,-1]
import operator
operator.itemgetter(*b)(a)

In [ ]:
df.median()

In [ ]:
df.mode()

In [ ]:
print(df['rank'].unique())

In [ ]:
df[['rank','phd']].value_counts()

In [ ]:
#To get the average of numerical variables grouped by the values of 'rank' variable
df.groupby('rank').mean()

In [ ]:
df.groupby('rank')['phd'].mean()

In [ ]:
df.groupby(['rank','discipline'])['salary'].mean()

In [ ]:
df.groupby(['discipline']).mean()

In [ ]:
#To get the average of 'salary' variable grouped by the values of 'rank' variable
df.groupby('rank')['salary'].mean()

In [ ]:
df.groupby(['rank','discipline']).mean()

In [ ]:
df.groupby(['rank','discipline'])['salary'].mean()

In [ ]:
df.groupby('sex')['salary'].mean()

In [ ]:
df.groupby('sex').mean()

In [ ]:
df.groupby(['rank','discipline']).count()

In [ ]:
df.groupby('rank')['discipline'].value_counts()

In [ ]:
df['rank']=='AssocProf'

In [ ]:
df[df['rank']=='AssocProf']

In [ ]:
df[(df['rank']=='AssocProf') & (df['discipline']=='A')]

In [ ]:
df[((df['rank']=='AssocProf') | (df['rank']=='Prof')) & 
   ((df['discipline']=='A') | (df['discipline']=='B'))]

In [ ]:
df[((df['rank']=='AssocProf') | (df['rank']=='Prof')) & (df['discipline']=='A')]

In [ ]:
df[(df['rank']=='Prof') & (df['sex']=='Male') & (df['salary']>100000)]

In [ ]:
df[((df['phd']>30) & (df['phd']<50)) & 
   ((df['salary']>=70000) & (df['salary']<=100000))]

In [ ]:
df[(df['rank']=='Prof') & (df['discipline']=='A') & (df['sex']=='Female') & ((df['service']>=15) & ((df['service']<=20)))]

In [ ]:
df[((df['rank']=='AssocProf') | (df['rank']=='Prof')) & (df['discipline']=='A')].sort_values(by=['phd'],axis=0)

In [ ]:
len(df[df['rank']=='AssocProf'])

In [ ]:
len(df[(df['rank']=='AssocProf') & (df['discipline']=='A')])

In [ ]:
df[(df['rank']=='AssocProf') & ((df['discipline']=='B') | (df['discipline']=='A'))]

In [ ]:
df[(df['salary']>=50000) & (df['salary']<=100000)]

In [ ]:
df[(df['rank']=='AssocProf') & (df['salary']>=50000) & (df['salary']<=100000)]

In [ ]:
#To get the average of 'salary' & 'PhD' variables grouped by the values of 'rank' variable
df.groupby('rank')[['salary','phd']].mean()

In [ ]:
df.groupby('rank')['salary'].max()

In [ ]:
df['rank']=='AsstProf'

In [ ]:
df[df['rank']=='AsstProf']

In [ ]:
AsstProf=df[df['rank']=='AsstProf']
AsstProf

In [ ]:
AsstProf['salary'].max()

In [ ]:
print('The maximum salary of AsstProf is Rs.',df[df['rank']=='AsstProf']['salary'].max())

In [ ]:
print('The minimum years of service for Prof is ',df[df['rank']=='Prof']['service'].min())

In [ ]:
df[df['discipline']=='A']['salary'].max()

In [ ]:
grouped=df.groupby('rank')
grouped

In [ ]:
type(grouped)

In [ ]:
#To filter the rows of the salary column. 
#The rows with salary greater than 150000 will be displayed
df.salary>=150000

In [ ]:
df[df.salary>=150000]

In [ ]:
df['salary']

df.salary

In [ ]:
df[(df.phd==20) | (df.phd==40)]

In [ ]:
df[(df.phd==20) & (df['rank']=='Prof')]

In [ ]:
df[(df['discipline']=='A') | (df['rank']=='Prof')]

In [ ]:
df[(df['rank'] =='AsstProf') | (df['rank'] =='AssocProf')]

In [ ]:
#Extract the rows with salary greater than or equal to 50000 & lesser than 100000, for AsstProfs & Profs.

#Display the rows having salary greater than 75000, discipline as A, for AssocProfs & Profs.

In [ ]:
df[((df.salary>=50000) & (df.salary<100000)) & ((df['rank']=='Prof') | (df['rank']=='AsstProf'))]

In [ ]:
df[(df.salary>75000) & (df.discipline == 'A') & ((df['rank']=='AssocProf') | (df['rank']=='Prof'))]

In [ ]:
df[(df['rank'] =='AsstProf') | (df['rank'] =='AssocProf')].sort_values(by=['rank'],axis=0)

In [ ]:
df[((df['rank'] =='AsstProf') | (df['rank'] =='AssocProf')) & (df.phd==20)]

In [ ]:
df[((df['rank'] =='AsstProf') | (df['rank'] =='AssocProf')) & ((df.phd==20) | (df.phd==7))]

In [ ]:
#The function below displays rows 1 to 3 & columns from index 0 to index 2
df.iloc[1:4+1, 0:3]

In [ ]:
df

In [ ]:
df.iloc[[1,2,3,4],[0,1,2,3]]

In [ ]:
df.iloc[[1,2,3,4],0:3]

In [ ]:
#The function below displays rows 25 to 44 & all columns 
df.iloc[25:45,:]

In [ ]:
df.iloc[35:76,1:4]

In [ ]:
#To display all the rows from the 3rd column 'sex'
df.iloc[:,4]

In [ ]:
df.loc[[1,2,3,4],['discipline','salary']]

In [ ]:
import pandas as pd

In [ ]:
shoplist=pd.DataFrame()
shoplist

In [ ]:
shoplist=pd.DataFrame(columns = ['Fruits','Vegetables','Snacks','Dairy'])
shoplist

In [ ]:
A= ['Apple' , 'Banana' , 'Grapes' ]
B= ['Tomato' , 'Potato' , 'Cucumber']
C= ['Chips' , 'Chocolate' , 'Biscuit']
D= ['Paneer' , 'Milk' , 'Yoghurt']

In [ ]:
shoplist['Fruits'] =pd.Series(A)
shoplist['Vegetables'] =pd.Series(B)
shoplist['Snacks'] =pd.Series(C)
shoplist['Dairy'] =pd.Series(D)
shoplist

In [ ]:
shoplist['Index']=['A','B','C']
shoplist

In [ ]:
shoplist.set_index('Index', inplace=True)
shoplist

In [ ]:
shoplist['Desert'] = ['Milkshake','Ice-cream','Cold-coffee']
shoplist

In [ ]:
shoplist.loc[['A','C'],['Vegetables','Dairy']]

In [ ]:
shoplist.iloc[[0,2],[1,3]]

In [ ]:
Grains=pd.Series(['Rice','Wheat','Sugar'],index=['A','B','C'])
shoplist['Grains']=Grains

In [ ]:
shoplist

In [ ]:
shoplist['Juice']=pd.Series(['Orange','Cranberry','Apple'],index=['A','B','C'])
shoplist

In [ ]:
#To display 'shoplist' dataframe without 'Dairy' column. It will only hide the column, not delete it.
shoplist.drop('Dairy',axis=1)

In [ ]:
shoplist

In [ ]:
#To modify the dataframe 'shoplist' by deleting the 'Dairy' column
shoplist.drop('Dairy',axis=1,inplace=True)
shoplist

In [ ]:
type(shoplist['Fruits'])

In [ ]:
type(shoplist)

In [ ]:
shoplist

In [ ]:
#Create empty data frame
df = pd.DataFrame(columns=['Name','City','Language','Interest'])

print(df)

#creating lists
name = ['Rushabh','Ankit','Jimmy']
city = ['Banglore','Mumbai','Pune']
language = ['Python','C','C++']
interest = ['Machine Learning','Deep Learning','Data Science']

#Convert the list to pandas series
first_column = pd.Series(name)
second_column = pd.Series(city)
third_column = pd.Series(language)
fourth_column = pd.Series(interest)

#Insert the series into data frame
df['Name'] = first_column
df['City'] = second_column
df['Language'] = third_column
df['Interest'] = fourth_column

df

In [ ]:
pd.

In [ ]:
import os

In [ ]:
#To check the current working directory
os.getcwd()

In [ ]:
#To change the current working directory
os.chdir('D:\\ALL DATA SCIENCE\\Learn Digital\\DataSets')

In [ ]:
import pandas as pd
iris=pd.read_csv('iris.csv')

In [ ]:
iris

In [ ]:
#Create a Pandas Series
s=pd.Series(5,index=[1,2,3,4])
s

In [ ]:
s=pd.Series(['A','B','C','D'],index=[1,2,3,4])
s

In [ ]:
x=pd.Series([1,2,3],index=['a','b','c'])
x

In [ ]:
x=pd.Series([1,2,3],index=['a','b','c','d'])
x

In [ ]:
x.index

In [ ]:
x.values

In [ ]:
a=pd.Series([1,2,5,6,7,8,9])
a

In [ ]:
a.ndim

In [ ]:
a.size

In [ ]:
import numpy as np
a=pd.Series([1,2,5,6,7,np.NaN,9])
a.count

In [ ]:
a.empty

In [ ]:
a.hasnans

In [ ]:
a=pd.Series(['Java','C','C++',np.nan])
a

In [ ]:
b=a.map({'Java':'Core','C':'C++','C++':'Python'})
#a.map({'Java':'Core'})
print(a)
print(b)

In [ ]:
a.map('I like {}'.format,na_action='ignore')

In [ ]:
b.map('I like {}'.format,na_action='ignore')

In [ ]:
c=pd.Series(['Apple','Banana','Guava','Pineapple'])
print(c)
c.map('I like {}'.format,na_action='ignore')

In [ ]:
a=pd.Series([1,4,5,8,7,9], name="vals")
print(a)
a.to_frame()

In [ ]:
x

In [ ]:
x['b']

In [ ]:
emp=['Parker','John','David','Smith']
id_nos=[102,120,156,147]
emp_series=pd.Series(emp)
print(emp_series)
id_nos_series=pd.Series(id_nos)
print(id_nos_series)

In [ ]:
frame={'Emp':emp_series,'Id_Nos':id_nos_series}
result=pd.DataFrame(frame)
result

In [ ]:
a=pd.Series([1,1,7,4,5,7,4,2,6,4,9])
pd.unique(a)

In [ ]:
a.value_counts()

In [ ]:
import pandas as pd
info={'Name':['Parker','Smith','John','William'],
     'Sub1_Marks':[52,38,42,37],
     'Sub2_Marks':[41,35,78,56]}
data=pd.DataFrame(info)
data

In [ ]:
data.std()

In [ ]:
data.sum()

In [ ]:
data.mean()

In [ ]:
data.count()

In [ ]:
print(data)
data.cumsum()

In [ ]:
df=pd.DataFrame()
print(df)

In [ ]:
data=[['Alex',10],['Bob',12],['Clarke',13]]
data

In [ ]:
df=pd.DataFrame(data,columns=['Name','Marks'])
df

In [ ]:
info={'one':pd.Series([1,2,3,4,5,6,7], index=['a','b','c','d','e','f','g']),
    'two':pd.Series([1,2,3,4], index=['a','b','d','g']),
     'three':pd.Series([5,7,8], index=['b','d','f'])}
df=pd.DataFrame(info)
df

In [ ]:
df['three']=pd.Series([5,7,6,5,2,3], index=['a','b','c','d','e','f'], dtype='int64')
df

In [ ]:
del df['two']
df

In [ ]:
df.pop('three')

In [ ]:
import pandas as pd
df1=pd.DataFrame([[1,2],[3,4]],columns=['a','b'])
df2=pd.DataFrame([[5,6],[8,9]],columns=['a','b'])
print(df1)
print(df2)

In [ ]:
df=df1.append(df2)
df

In [ ]:
df.columns=['Col_1','Col_2']
df

In [ ]:
df.index=['A','B','C','D']
df

In [ ]:
df=df.rename(columns={"Col_1":"Col1","Col_2":"Col2"})
df

In [ ]:
df=df.rename(columns=lambda x:x+'_dummy')
df

df.columns.values[0]='Col_1'
df

df.columns.values[1]='Col_2'
df

In [ ]:
df.index=[1,2,3,4]
df

In [ ]:
df=df.rename(index=lambda x:x+10)
df

In [ ]:
df=df.drop(12)
df

In [ ]:
info=pd.DataFrame([[2,7]]*4,columns=['A','B'])
info

In [ ]:
info=pd.DataFrame([[9620100789,9620100789]]*4,columns=['A','B'])
info

In [ ]:
info=pd.DataFrame([[9,6,2,0,1,0,0,7,8,9]]*4,columns=['A','B','C','D','E','F','G','H','I','J'])
info

In [ ]:
import numpy as np
info.apply(np.sqrt)

In [ ]:
info.apply(np.sum,axis=0)

In [ ]:
info={'one':pd.Series([1,2,3,4,5,6,7], index=['a','b','c','d','e','f','g']),
    'two':pd.Series([1,2,3,4], index=['a','b','c','d'])}
df=pd.DataFrame(info)
df['three']=pd.Series([5,7,6,5,2,3], index=['a','b','c','d','e','f'])
df


print(df)
df.agg(['sum','max','min','mean','std'])

In [ ]:
df=df.assign(four=[5,6,7,8,9,7,4])

In [ ]:
df.apply(np.sum,axis=0)

In [ ]:
df

In [ ]:
df.apply(np.sum,axis=1)

In [ ]:
Data_frame.dtypes

In [ ]:
Data_frame=Data_frame['price'].astype('int32').dtypes

In [ ]:
import numpy as np
print(np.random.randint(1,50,15))
age=np.random.randint(0,120,50)
age

# Binning/Categorization/Discretization

In [ ]:
import numpy as np
import pandas as pd
info_nums=pd.DataFrame({'age':np.random.randint(0,120,50)})
info_nums

    age
0    46
1   111
2    14
3    80
4    66
5   117
6    92
7     3
8    68
9    17
10    6
11   16
12   84
13   37
14   74
15  118
16   13
17   41
18   42
19   22
20   32
21   76
22    4
23   74
24    5
25   73
26  118
27   61
28    9
29   29
30   36
31   26
32   86
33   80
34  103
35   40
36   54
37   60
38   83
39   43
40    7
41   15
42   54
43   23
44  113
45   36
46   72
47  106
48   95
49   28

In [ ]:
info_nums['age_bins']=pd.cut(x=info_nums['age'],bins=[0,20,40,60,80,100,120],
                             labels=['0-20','20-40','40-60','60-80','80-100','100-120'],include_lowest=True)
info_nums

info_nums['age_labels']=pd.cut(x=info_nums['age'],bins=[0,20,40,60,80,100,120],
                             labels=['A','B','C','D','E','F'],include_lowest=True)
info_nums

    age age_bins age_labels
0    46    40-60          C
1   111  100-120          F
2    14     0-20          A
3    80    60-80          D
4    66    60-80          D
5   117  100-120          F
6    92   80-100          E
7     3     0-20          A
8    68    60-80          D
9    17     0-20          A
10    6     0-20          A
11   16     0-20          A
12   84   80-100          E
13   37    20-40          B
14   74    60-80          D
15  118  100-120          F
16   13     0-20          A
17   41    40-60          C
18   42    40-60          C
19   22    20-40          B
20   32    20-40          B
21   76    60-80          D
22    4     0-20          A
23   74    60-80          D
24    5     0-20          A
25   73    60-80          D
26  118  100-120          F
27   61    60-80          D
28    9     0-20          A
29   29    20-40          B
30   36    20-40          B
31   26    20-40          B
32   86   80-100          E
33   80    60-80          D
34  103  100-120          F
35   40    20-40          B
36   54    40-60          C
37   60    40-60          C
38   83   80-100          E
39   43    40-60          C
40    7     0-20          A
41   15     0-20          A
42   54    40-60          C
43   23    20-40          B
44  113  100-120          F
45   36    20-40          B
46   72    60-80          D
47  106  100-120          F
48   95   80-100          E
49   28    20-40          B

In [ ]:
info_nums['age_bins_default']=pd.cut(x=info_nums['age'],bins=[0,20,40,60,80,100,120],
                                     include_lowest=True,right=False)
info_nums

    age age_bins age_labels age_bins_default
0    46    40-60          C         [40, 60)
1   111  100-120          F       [100, 120)
2    14     0-20          A          [0, 20)
3    80    60-80          D        [80, 100)
4    66    60-80          D         [60, 80)
5   117  100-120          F       [100, 120)
6    92   80-100          E        [80, 100)
7     3     0-20          A          [0, 20)
8    68    60-80          D         [60, 80)
9    17     0-20          A          [0, 20)
10    6     0-20          A          [0, 20)
11   16     0-20          A          [0, 20)
12   84   80-100          E        [80, 100)
13   37    20-40          B         [20, 40)
14   74    60-80          D         [60, 80)
15  118  100-120          F       [100, 120)
16   13     0-20          A          [0, 20)
17   41    40-60          C         [40, 60)
18   42    40-60          C         [40, 60)
19   22    20-40          B         [20, 40)
20   32    20-40          B         [20, 40)
21   76    60-80          D         [60, 80)
22    4     0-20          A          [0, 20)
23   74    60-80          D         [60, 80)
24    5     0-20          A          [0, 20)
25   73    60-80          D         [60, 80)
26  118  100-120          F       [100, 120)
27   61    60-80          D         [60, 80)
28    9     0-20          A          [0, 20)
29   29    20-40          B         [20, 40)
30   36    20-40          B         [20, 40)
31   26    20-40          B         [20, 40)
32   86   80-100          E        [80, 100)
33   80    60-80          D        [80, 100)
34  103  100-120          F       [100, 120)
35   40    20-40          B         [40, 60)
36   54    40-60          C         [40, 60)
37   60    40-60          C         [60, 80)
38   83   80-100          E        [80, 100)
39   43    40-60          C         [40, 60)
40    7     0-20          A          [0, 20)
41   15     0-20          A          [0, 20)
42   54    40-60          C         [40, 60)
43   23    20-40          B         [20, 40)
44  113  100-120          F       [100, 120)
45   36    20-40          B         [20, 40)
46   72    60-80          D         [60, 80)
47  106  100-120          F       [100, 120)
48   95   80-100          E        [80, 100)
49   28    20-40          B         [20, 40)

In [ ]:
info_nums['age_bins'].value_counts()

0-20       11
20-40      10
60-80      10
40-60       7
100-120     7
80-100      5
Name: age_bins, dtype: int64

In [ ]:
info_nums['age_bins']=pd.cut(x=info_nums['age'],bins=[1,15,25,35,50],
                             labels=['Adolescents','Young','Working','Middle-Aged'])
info_nums

    age     age_bins age_labels age_bins_default
0    46  Middle-Aged          C         [40, 60)
1   111          NaN          F       [100, 120)
2    14  Adolescents          A          [0, 20)
3    80          NaN          D        [80, 100)
4    66          NaN          D         [60, 80)
5   117          NaN          F       [100, 120)
6    92          NaN          E        [80, 100)
7     3  Adolescents          A          [0, 20)
8    68          NaN          D         [60, 80)
9    17        Young          A          [0, 20)
10    6  Adolescents          A          [0, 20)
11   16        Young          A          [0, 20)
12   84          NaN          E        [80, 100)
13   37  Middle-Aged          B         [20, 40)
14   74          NaN          D         [60, 80)
15  118          NaN          F       [100, 120)
16   13  Adolescents          A          [0, 20)
17   41  Middle-Aged          C         [40, 60)
18   42  Middle-Aged          C         [40, 60)
19   22        Young          B         [20, 40)
20   32      Working          B         [20, 40)
21   76          NaN          D         [60, 80)
22    4  Adolescents          A          [0, 20)
23   74          NaN          D         [60, 80)
24    5  Adolescents          A          [0, 20)
25   73          NaN          D         [60, 80)
26  118          NaN          F       [100, 120)
27   61          NaN          D         [60, 80)
28    9  Adolescents          A          [0, 20)
29   29      Working          B         [20, 40)
30   36  Middle-Aged          B         [20, 40)
31   26      Working          B         [20, 40)
32   86          NaN          E        [80, 100)
33   80          NaN          D        [80, 100)
34  103          NaN          F       [100, 120)
35   40  Middle-Aged          B         [40, 60)
36   54          NaN          C         [40, 60)
37   60          NaN          C         [60, 80)
38   83          NaN          E        [80, 100)
39   43  Middle-Aged          C         [40, 60)
40    7  Adolescents          A          [0, 20)
41   15  Adolescents          A          [0, 20)
42   54          NaN          C         [40, 60)
43   23        Young          B         [20, 40)
44  113          NaN          F       [100, 120)
45   36  Middle-Aged          B         [20, 40)
46   72          NaN          D         [60, 80)
47  106          NaN          F       [100, 120)
48   95          NaN          E        [80, 100)
49   28      Working          B         [20, 40)

In [ ]:
info_nums['age_bins']=pd.cut(x=info_nums['age'],bins=[1,15,25,35,50],
                             labels=['Kids','Adolescents','Teenagers','Working'])
info_nums

    age     age_bins age_labels age_bins_default
0    46      Working          C         [40, 60)
1   111          NaN          F       [100, 120)
2    14         Kids          A          [0, 20)
3    80          NaN          D        [80, 100)
4    66          NaN          D         [60, 80)
5   117          NaN          F       [100, 120)
6    92          NaN          E        [80, 100)
7     3         Kids          A          [0, 20)
8    68          NaN          D         [60, 80)
9    17  Adolescents          A          [0, 20)
10    6         Kids          A          [0, 20)
11   16  Adolescents          A          [0, 20)
12   84          NaN          E        [80, 100)
13   37      Working          B         [20, 40)
14   74          NaN          D         [60, 80)
15  118          NaN          F       [100, 120)
16   13         Kids          A          [0, 20)
17   41      Working          C         [40, 60)
18   42      Working          C         [40, 60)
19   22  Adolescents          B         [20, 40)
20   32    Teenagers          B         [20, 40)
21   76          NaN          D         [60, 80)
22    4         Kids          A          [0, 20)
23   74          NaN          D         [60, 80)
24    5         Kids          A          [0, 20)
25   73          NaN          D         [60, 80)
26  118          NaN          F       [100, 120)
27   61          NaN          D         [60, 80)
28    9         Kids          A          [0, 20)
29   29    Teenagers          B         [20, 40)
30   36      Working          B         [20, 40)
31   26    Teenagers          B         [20, 40)
32   86          NaN          E        [80, 100)
33   80          NaN          D        [80, 100)
34  103          NaN          F       [100, 120)
35   40      Working          B         [40, 60)
36   54          NaN          C         [40, 60)
37   60          NaN          C         [60, 80)
38   83          NaN          E        [80, 100)
39   43      Working          C         [40, 60)
40    7         Kids          A          [0, 20)
41   15         Kids          A          [0, 20)
42   54          NaN          C         [40, 60)
43   23  Adolescents          B         [20, 40)
44  113          NaN          F       [100, 120)
45   36      Working          B         [20, 40)
46   72          NaN          D         [60, 80)
47  106          NaN          F       [100, 120)
48   95          NaN          E        [80, 100)
49   28    Teenagers          B         [20, 40)

In [ ]:
info_nums['age_bins']=pd.cut(x=info_nums['age'],bins=[1,15,25,35,50])
info_nums

    age      age_bins age_labels age_bins_default
0    46  (35.0, 50.0]          C         [40, 60)
1   111           NaN          F       [100, 120)
2    14   (1.0, 15.0]          A          [0, 20)
3    80           NaN          D        [80, 100)
4    66           NaN          D         [60, 80)
5   117           NaN          F       [100, 120)
6    92           NaN          E        [80, 100)
7     3   (1.0, 15.0]          A          [0, 20)
8    68           NaN          D         [60, 80)
9    17  (15.0, 25.0]          A          [0, 20)
10    6   (1.0, 15.0]          A          [0, 20)
11   16  (15.0, 25.0]          A          [0, 20)
12   84           NaN          E        [80, 100)
13   37  (35.0, 50.0]          B         [20, 40)
14   74           NaN          D         [60, 80)
15  118           NaN          F       [100, 120)
16   13   (1.0, 15.0]          A          [0, 20)
17   41  (35.0, 50.0]          C         [40, 60)
18   42  (35.0, 50.0]          C         [40, 60)
19   22  (15.0, 25.0]          B         [20, 40)
20   32  (25.0, 35.0]          B         [20, 40)
21   76           NaN          D         [60, 80)
22    4   (1.0, 15.0]          A          [0, 20)
23   74           NaN          D         [60, 80)
24    5   (1.0, 15.0]          A          [0, 20)
25   73           NaN          D         [60, 80)
26  118           NaN          F       [100, 120)
27   61           NaN          D         [60, 80)
28    9   (1.0, 15.0]          A          [0, 20)
29   29  (25.0, 35.0]          B         [20, 40)
30   36  (35.0, 50.0]          B         [20, 40)
31   26  (25.0, 35.0]          B         [20, 40)
32   86           NaN          E        [80, 100)
33   80           NaN          D        [80, 100)
34  103           NaN          F       [100, 120)
35   40  (35.0, 50.0]          B         [40, 60)
36   54           NaN          C         [40, 60)
37   60           NaN          C         [60, 80)
38   83           NaN          E        [80, 100)
39   43  (35.0, 50.0]          C         [40, 60)
40    7   (1.0, 15.0]          A          [0, 20)
41   15   (1.0, 15.0]          A          [0, 20)
42   54           NaN          C         [40, 60)
43   23  (15.0, 25.0]          B         [20, 40)
44  113           NaN          F       [100, 120)
45   36  (35.0, 50.0]          B         [20, 40)
46   72           NaN          D         [60, 80)
47  106           NaN          F       [100, 120)
48   95           NaN          E        [80, 100)
49   28  (25.0, 35.0]          B         [20, 40)

In [ ]:
info = pd.DataFrame({'categorical': pd.Categorical(['s','t','s','s','r','t']),  
'numeric': [1,2,3,7,3,1],  
'object': pd.Categorical(['p', 'q', 'r','p', 'q', 'r'])  
 })
info

  categorical  numeric object
0           s        1      p
1           t        2      q
2           s        3      r
3           s        7      p
4           r        3      q
5           t        1      r

In [ ]:
info.dtypes

categorical    category
numeric           int64
object         category
dtype: object

In [ ]:
emp = {"Name": ["Parker", "Smith", "William", "Parker","Smith","Parker"],  
"Age": [21, 32, 29, 21,32,28]}  
info = pd.DataFrame(emp)  
info

      Name  Age
0   Parker   21
1    Smith   32
2  William   29
3   Parker   21
4    Smith   32
5   Parker   28

In [ ]:
info1=info.drop_duplicates()
info1

      Name  Age
0   Parker   21
1    Smith   32
2  William   29
5   Parker   28

In [ ]:
shop = {"Product": ["Eraser", "Eraser", "Pen", "Pencil","Ruler","Pen", "Pencil","Ruler","Ruler", "Eraser"],  
"Price": [15,20,50,30,30,25,25,15,20,15]}  
info = pd.DataFrame(shop)  
info

  Product  Price
0  Eraser     15
1  Eraser     20
2     Pen     50
3  Pencil     30
4   Ruler     30
5     Pen     25
6  Pencil     25
7   Ruler     15
8   Ruler     20
9  Eraser     15

In [ ]:
#Aggregated Functions - Applied on a group of numerical values
print(info.groupby('Product').agg(np.mean))
print(info.groupby('Product').agg(np.sum))
print(info.groupby('Product').agg(np.max))
print(info.groupby('Product').agg(np.min))
print(info.groupby('Product').agg(np.median))
print(info.groupby('Product').agg(np.var))
print(info.groupby('Product').agg(np.std))

             Price
Product
Eraser   16.666667
Pen      37.500000
Pencil   27.500000
Ruler    21.666667
         Price
Product
Eraser      50
Pen         75
Pencil      55
Ruler       65
         Price
Product
Eraser      20
Pen         50
Pencil      30
Ruler       30
         Price
Product
Eraser      15
Pen         25
Pencil      25
Ruler       15
         Price
Product
Eraser    15.0
Pen       37.5
Pencil    27.5
Ruler     20.0
              Price
Product
Eraser     8.333333
Pen      312.500000
Pencil    12.500000
Ruler     58.333333
             Price
Product
Eraser    2.886751
Pen      17.677670
Pencil    3.535534
Ruler     7.637626

In [ ]:
employee=pd.read_csv('D:\\ALL DATA SCIENCE\\Learn Digital\\DataSets\\employee.csv')

FileNotFoundError: ignored

In [ ]:
employee

NameError: ignored

In [ ]:
employee.dtypes

In [ ]:
employee.describe(include='object')

In [ ]:
employee.describe(include='int64')

In [ ]:
employee.dtypes=="object"

In [ ]:
employee.dtypes[employee.dtypes=='object'].index

NameError: ignored

In [ ]:
List_Indices=list(employee.dtypes[employee.dtypes=='object'].index)
List_Indices

In [ ]:
#NEVER EVER DO THIS... It will change/distort the data. 
#Because only & only the age column will get sorted, but not the corresponding other data.

# employee['Age']=sorted(employee['Age'])

In [ ]:
employee

In [ ]:
sorted(employee['Department'])

In [ ]:
employee['BusinessTravel'].dtype

In [ ]:
BusinessTravel_New=employee['BusinessTravel'].astype(str)
BusinessTravel_New

In [ ]:
Attrition_New=employee['Attrition'].astype(str)
print(Attrition_New.dtype)
print(Attrition_New)
[i[0] for i in Attrition_New]

In [ ]:
import pandas as pd
Titanic=pd.read_csv("D:\\ALL DATA SCIENCE\\ExcelR\\Datasets\\titanic.csv")
Titanic

In [ ]:
Titanic.isnull().sum()

In [ ]:
#Find the percentage of rows that have value 'S' in column 'embarked'
(len(Titanic[Titanic['embarked']=='S'])/len(Titanic))*100

In [ ]:
#Find the average fare, grouped by pclass & embarked 
Titanic.groupby(['pclass','embarked'])['fare'].mean()

In [ ]:
#Sort the data based on the 'age' column
Titanic.sort_values('age')

In [ ]:
#Find the average age grouped by gender
Titanic.groupby('sex')['age'].mean()

In [ ]:
#Find the rows having embarked value as 'S' & 'Q' & with age being greater than 25 
Titanic[((Titanic['embarked']=='S') | (Titanic['embarked']== 'Q')) & (Titanic['age'] > 25)]

In [ ]:
'''Given that 'Sibsp' is no. of siblings & spouse accompanied on the ship & 
'parch' is no. of parents & children accompanied,
find the percentage of passengers travelling alone on the ship.'''
(len(Titanic[(Titanic['sibsp']==0) & (Titanic['parch']==0)])/len(Titanic))*100

In [ ]:
'''Name the passenger/s having the largest family onboard'''
(Titanic['sibsp'] + Titanic['parch']).max()

In [ ]:
Titanic['Family_Size']=Titanic['sibsp'] + Titanic['parch']
Titanic

In [ ]:
Titanic[Titanic['Family_Size']==10]

In [ ]:
missing=np.where(Titanic['age'].isnull()==True)
missing

In [ ]:
df_col=df.columns
df_unique=[]
for i in df_col:
    df_unique.append(list(df[i].unique()))
    
for i in df_unique:
    i.sort(reverse=False)
    
df_unique

In [ ]:
df_unique=[list(df['rank'].unique()),list(df['discipline'].unique()),
           list(df['phd'].unique()),list(df['service'].unique()),
           list(df['sex'].unique()),list(df['salary'].unique())]
df_unique

for i in df_unique:
    i.sort()
    
df_unique

[['AssocProf', 'AsstProf', 'Prof'],
 ['A', 'B'],
 [1,
  2,
  3,
  4,
  5,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  33,
  35,
  36,
  38,
  39,
  40,
  45,
  51,
  56],
 [0,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  14,
  15,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  30,
  31,
  33,
  36,
  43,
  45,
  49,
  51],
 ['Female', 'Male'],
 [57800,
  62884,
  63100,
  71065,
  72500,
  73000,
  73300,
  73500,
  74692,
  74830,
  75044,
  77000,
  77500,
  78500,
  80225,
  81285,
  85000,
  88000,
  90450,
  91000,
  91100,
  91300,
  92000,
  93000,
  94350,
  97032,
  99418,
  102000,
  103106,
  103275,
  103613,
  103750,
  103994,
  104542,
  104800,
  105000,
  105450,
  107008,
  107300,
  109646,
  109650,
  109954,
  110515,
  111512,
  116450,
  117555,
  119800,
  120000,
  122400,
  122960,
  123683,
  124312,
  126300,
  126933,
  127512,
  128250,
  129000,
  131205,
  134778,
  137000,
  140096,
  144651,
  146856,
  148750,
  150480,
  150500,
  151768,
  153750,
  155750,
  155865,
  161101,
  162200,
  186960]]

In [ ]:
import pandas as pd
#Importing the data on the web in a csv file into a dataframe in Anaconda environment
df = pd.read_csv("https://raw.githubusercontent.com/Apress/data-analysis-and-visualization-using-python/master/Ch07/Salaries.csv")
df.head()

   rank discipline  phd  service   sex  salary
0  Prof          B   56       49  Male  186960
1  Prof          A   12        6  Male   93000
2  Prof          A   23       20  Male  110515
3  Prof          A   40       31  Male  131205
4  Prof          B   20       18  Male  104800

Using the above dataset, create a column, which has the unique values of all the columns from the dataset, & the column next to that, should have the frequency counts of those unique values.

Output should be as shown below:

Prof                 56
AssocProf            23 
Asst Prof            59
A                    56   
B                    ..
1                    ..
2
3..
..
..
..
unique values of all other columns

Write a loop for the above.

Please tell me if you have any doubts as of now. Will finish the session after doubt clearing.

In [ ]:
df1=pd.DataFrame()
l=[]
for i in list(df[col].unique() for col in df):
    for j in i:
        l.append(j)
l1=list(df[i].value_counts() for i in df)
l2=[]
df1=pd.DataFrame()
l=[]
for i in list(df[col].unique() for col in df):
    for j in i:
        l.append(j)
l1=[]
for i in list(df[i].value_counts() for i in df):
    for j in i:
        l1.append(j)
df1['ukeys']=pd.Series(l)
df1['vc']=pd.Series(l1)
df1

         ukeys  vc
0         Prof  46
1    AssocProf  19
2     AsstProf  13
3            B  42
4            A  36
..         ...  ..
144     105450   1
145     104542   1
146     124312   1
147     109954   1
148     109646   1

[149 rows x 2 columns]

In [ ]:
Student_data=pd.DataFrame(columns=['Name','Last Name','DOB','Percentage','Grade'])
Student_data

A=['Nikita','Ankush','Ayansh','Shruti','Swarit']
B=['Sankhe','Patil','Pimple','Mhatre','Salunkhe','Deshpande']
C=['3/9/1989','8/4/1989','27/7/1990','11/11/1991','2/6/1991']
D=['85%','96%','75%','64%','50%']
E=['A','A','B','B','C']

Student_data['Name']=pd.Series(A)
Student_data['Last Name']=pd.Series(B)
Student_data['DOB']=pd.Series(C)
Student_data['Percentage']=pd.Series(D)
Student_data['Grade']=pd.Series(E)
Student_data

     Name Last Name         DOB Percentage Grade
0  Nikita    Sankhe    3/9/1989        85%     A
1  Ankush     Patil    8/4/1989        96%     A
2  Ayansh    Pimple   27/7/1990        75%     B
3  Shruti    Mhatre  11/11/1991        64%     B
4  Swarit  Salunkhe    2/6/1991        50%     C